
<div class="form">
  <div class="form-content">
    <form #loginform="ngForm" >
      <div class="form-info  ">
        <h2>{{ title }}</h2>
        <p>{{ message }}</p>
        <p>{{ password }}</p>
      </div>
      <div class="email-w3l">
        <span class="i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        <input class="email" [(ngModel)]="email" name="email" placeholder="Email" required autofocus autocomplete="email">
      </div>
      <div class="pass-w3l">
        <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
        <input class="pass"  [(ngModel)]="password" name="password" id="pass" placeholder="Password" required>
      </div>
      <div class="submit-agileits">
        <button class="login" type="submit" (click)="login()">
          Se connecter
        </button>
      </div>
    </form>
  </div>
</div>
